@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sigmar+One&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  background-color: #15202B;
}

.fa-solid {
  font-size: 1.5em;
  color: white;
  margin: 1.8em 0.4em;
}

.fa-bars,
.fa-x {
  margin-top: 15px;
}

.nav .fa-gear {
  position: absolute;
  bottom: 4.2em;
}

#settings {
  position: absolute;
  bottom: 6em;
}

.nav .fa-arrow-right-from-bracket,
#logout {
  position: absolute;
  bottom: 0em;
}

.nav,
.navFull {
  background: #121212;
  border: 1px #121212 solid;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 93vh;
}

.navFull {
  width: 12vw;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}

.showNav {
  transform: translateX(0);
}

.topBanner {
  background: linear-gradient(
    90deg,
    rgba(0, 134, 138, 1) 0%,
    rgba(0, 79, 115, 1) 46%,
    rgba(48, 0, 79, 1) 100%
  );
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white 1px solid;
  z-index: 100;
}

.topBanner h1 {
  color: white;
}

.navFull p {
  display: inline;
  color: white;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#groups,
#activities {
  width: 43vw;
  padding: 5% 0 0 5%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
}

.group,
.activity {
  background-color: #22303C;
  width: 25vw;
  height: 10vh;
  border-radius: 10px;
  margin: 30px;
  color: white;
  border: #8899A6 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .2s;
}

a {
  text-decoration: none;
}

.groupActivityTitles {
  width: 43vw;
  text-align: center;
  color:white;
}

.group h2,
.activity h2 {
  text-align: center;
  margin: 0;
}

.group p, .activity p {
  text-align: center;
  margin: 0;
  color: lightblue;
}

.group:hover,
.activity:hover {
  width: 26vw;
  height:11vh;
  background-color: #192734;
  box-shadow: 5px 5px 10px #888888;
}

.split {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 93vh;
  width:.05vw;
  background-color: white;
}