@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sigmar+One&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.fa-solid {
  font-size: 1.5em;
  color: white;
  margin: 1.8em 0.4em;
}

.fa-bars {
  margin-top: 15px;
}

.fa-gear {
  position: absolute;
  bottom: 4.2em;
}

.fa-arrow-right-from-bracket {
  position: absolute;
  bottom: 0em;
}

.nav {
  background: #121212;
  border: 1px #121212 solid;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 93vh;
}

.topBanner {
  background: linear-gradient(
    90deg,
    rgba(0, 134, 138, 1) 0%,
    rgba(0, 79, 115, 1) 46%,
    rgba(48, 0, 79, 1) 100%
  );
  width: 100vw;
  height: 7vh;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topBanner h1 {
  color: white;
}

.navFull {
  background: 121212;
  border: 1px #121212 solid;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 93vh;
  width: 30vw;
}
