@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sigmar+One&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.fa-solid {
  font-size: 1.5em;
  color: white;
  margin: 1.8em 0.4em;
}

.fa-bars,
.fa-x {
  margin-top: 15px;
}

.nav .fa-gear {
  position: absolute;
  bottom: 4.2em;
}

#settings {
  position: absolute;
  bottom: 6em;
}

.nav .fa-arrow-right-from-bracket,
#logout {
  position: absolute;
  bottom: 0em;
}

.nav,
.navFull {
  background: #121212;
  border: 1px #121212 solid;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 93vh;
}

.navFull {
  width: 12vw;
  transition: all 0.3s linear;
  transform: translateX(-100%);
}

.showNav {
  transform: translateX(0);
}

.topBanner {
  background: linear-gradient(
    90deg,
    rgba(0, 134, 138, 1) 0%,
    rgba(0, 79, 115, 1) 46%,
    rgba(48, 0, 79, 1) 100%
  );
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topBanner h1 {
  color: white;
}

.navFull p {
  display: inline;
  color: white;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#groups,
#activities {
  width: 43vw;
  padding: 5% 0 0 5%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
}

.group,
.activity {
  background-color: lightgray;
  width: 25vw;
  margin-right: 30px;
  height: 25vh;
  border-radius: 10px;
  margin: 30px;
}

.groupActivityTitles {
  width: 43vw;
  text-align: center;
}

.group h1,
.group h1 {
  text-align: center;
}
