@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sigmar+One&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}
.topBanner {
  background: linear-gradient(
    90deg,
    rgba(185, 125, 227) 15%,
    rgba(191, 76, 229) 46%,
    rgba(48, 0, 79, 1) 80%
  );
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 7vh;
  top: 0;
  left: 0;
  z-index: 3;
}

.topBanner h1 {
  color: rgb(255, 255, 255);
  position: relative;
  left: 50%;
}

.nav {
  background: linear-gradient(
    180deg,
    rgba(185, 125, 227) 15%,
    rgba(191, 76, 229) 46%,
    rgba(48, 0, 79, 1) 80%
  );
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 8%;
  margin-top: 4vh;
  left: 0;
  align-items: center;
}

.nav a {
  color: azure;
  text-decoration: none;
  font-size: 25px;
  margin: 25px;
}

.fa-gear {
  position: relative;
  top: 45vh;
}

.fa-arrow-right-from-bracket {
  position: relative;
  top: 45vh;
}

.nav a:hover {
  color: rgb(240, 219, 36);
}

.navFull {
  background: linear-gradient(
    180deg,
    rgba(185, 125, 227) 15%,
    rgba(191, 76, 229) 46%,
    rgba(48, 0, 79, 1) 80%
  );
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  margin-top: 4vh;
  left: 8%;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
}
.navFull a {
  color: azure;
  text-decoration: none;
  font-size: 25px;
  margin: 25px;
  transform: 0.3s;
}

.settings {
  position: relative;
  top: 45vh;
}

.logout {
  position: relative;
  top: 45vh;
}

.navFull a:hover {
  color: rgb(240, 219, 36);
}

#groupInfo {
  position: absolute;
  top: 10%;
  left: 10%;
}

#groupInfo * {
  margin: 0;
}

.message {
  border: black 2px solid;
  height:45vh;
  width: 85vw;
  position: absolute;
  bottom: 25%;
  right: 1.5%;
}

.yourMessage {
  border: lightblue 10px solid;
  width: 80vw;
  height: 7vh;
  position: relative;
  left: 1.2%;
  top: 1%;
  color: gray;
  font-size: 1em;
  padding: 10px;
  padding-top: 0;
  margin-top: .5em;
}

.fakeMessageBox {
  margin: 1em;
  height: 8vh;
  width: 80vw;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
}

.messageName {
  font-weight: bold;
}

.messageName {
  font-weight: bold;
}

.button {
  position: absolute;
  top: 10%;
  right: 2%;
  font-size: 1.5em;
  border-radius: 10px;
  border: black 2px solid;
  background-color: rgb(171, 238, 144);
  color: black;
  text-decoration: none;
  padding: .3em;
}
